// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 8px;
}

.container {
  padding: 8px;
  margin: 8px;
}

.card-body {
  background-color: #f0f0f0;
}

.far, .fas {
  margin-right: 8px;
}

.button {
  align-content: center;
}

.btn-primary {
  background-color: blue;
}
